<!DOCTYPE html>
<html data-ng-app="SLBenefitsApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/resources.watg/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <title>WATG | SL Benefits Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/watgresources")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/angular-ui-switch.css")" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-container">
            <div class="container nopadding">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">SL Benefits</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li><a href="#/slbenefits">Create</a></li>*@
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <a href="/" class="navbar-brand">
                        <img src="@Url.Content("~/resources.watg/logo-watg.png")"></a>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/externallib")
    <script src="@Url.Content("~/Scripts/angular-ui-switch.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-base64-upload.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
